<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="css/style.css">
        <!-- <script th:src="@{/js/navbar.js}"></script> -->
        <script src="js/navbar.js"></script>
        <title>Spring Security Example</title>
    </head>
    <body>

        <div th:replace="~{fragments/navbar :: navbar}"></div>
        
        <div>
            <div class="search-container">
                <div class="image-container">
                    <img src="images/search-img.png" alt="Search Image" />
                </div>
                <div class="form-container">
                    <h2>Set your personal filters.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tortor eu dolorol egestas morbi sem vulputate etiam facilisis pellentesque ut quis.</p>
                    <form id="searchForm" th:action="@{/search}" th:object="${listingDto}" method="post">
                        <label>Location:</label> 
                        <input type="text" id="location" th:field="*{location}" name="location">  
                        <label for="minPrice">Select Min Price:</label>
                        <select id="minPrice" name="minPrice" th:field="*{minPrice}"></select>
                        <label for="maxPrice">Select Max Price:</label>
                        <select id="maxPrice" name="maxPrice" th:field="*{maxPrice}"></select>
                        
                        <label for="minBeds">Select Min Beds:</label>
                        <select id="minBeds" name="minBeds" th:field="*{minBeds}"></select>
                        <label for="maxBeds">Select Max Beds:</label>
                        <select id="maxBeds" name="maxBeds" th:field="*{maxBeds}"></select>
                        
                        <label for="type">Type:</label>
                        <select id="type" th:field="*{propertyType}">
                            <option value="ANY">Any Property</option>
                            <option value="houses">House</option>
                            <option value="apartments">Apartment</option>
                            <option value="studio-apartments">Studio Apartment</option>
                        </select>
                        
                        <label for="furnished">Furnishing:</label>
                        <select id="furnished" th:field="*{furnishing}">
                            <option value="Any">Any Furnishing</option>
                            <option value="furnished">Furnished</option>
                            <option value="unfurnished">Unfurnished</option>
                        </select>
                        <div class="search-buttons">
                            <button type="button" onclick="submitForm('/search')">View Listings</button>
                            <button type="button" onclick="submitForm('/add-auto')">Create Auto-Apply</button>
                            <button id="save-search" type="button">Save Search</button>
                        </div>
                </form>
            </div>
        </div>

        <div class="listing-container">
            <div class="single-listing">
                <div th:each="listing : ${listings}" class="listing-box">
                    <!-- <div class="image-container" th:if="${listings != null}">
                        <div class="slideshow-container">

                            <div th:each="image : ${listing.images}" class="mySlides fade">
                              <img th:src="${image}" style="width:100%">
                            </div>
                          
                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        </div>
                    </div> -->
                    <div class="details-container" th:if="${listings != null}">
                        <h2>Listings</h2>
                        <div class="listing-details">
                            <p>Property Type:</p>
                            <p class="listing-value"><span th:text="${listing.propertyType}"></span></p>
                            <p>Location:</p>
                            <p class="listing-value"><span th:text="${listing.seoTitle}"></span></p>
                            <p>Monthly Price (€):</p>
                            <p class="listing-value"><span th:text="${listing.price}"></span></p>
                            <p>Bedrooms:</p>
                            <p class="listing-value"><span th:text="${listing.numBedrooms}"></span></p>
                            <p>Bathrooms:</p>
                            <p class="listing-value"><span th:text="${listing.numBathrooms}"></span></p>
                        </div>
                        
                        <form id="applyForm" th:action="@{/apply}" method="post">
                            <input type="hidden" name="id" th:value="${listing.id}"/>
                            <input type="hidden" name="title" th:value="${listing.title}"/>
                            <input type="hidden" name="price" th:value="${listing.price}"/>
                            <input type="hidden" name="numBedrooms" th:value="${listing.numBedrooms}"/>
                            <input type="hidden" name="numBathrooms" th:value="${listing.numBathrooms}"/>
                            <input type="hidden" name="propertyType" th:value="${listing.propertyType}"/>
                            <button type="submit" id="applyButton">Apply to Rent</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        $(document).ready(function() {
            $('#applyForm').on('submit', function(event) {
                event.preventDefault();
                var formData = $(this).serialize();
                
                $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    data: formData,
                    success: function(response) {
                        $('#applyButton').text("Success");
                        $('#applyButton').prop('disabled', true)
                        $('#applyButton').css('background-color', '#cccccc')
                    },
                    badrequest: function(response) {
                        $('#applyButton').text("Success");
                    },
                    error: function(xhr, status, error) {
                        $('#applyButton').text('Failed');
                    }
                });
            });
        });
        $(function() {
            $("#location").autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: "/autocomplete-auto",
                        dataType: "json",
                        data: {
                            term: request.term
                        },
                        success: function(data) {
                            response(data);
                        }
                    });
                },
                minLength: 3
            });
        });
        function generatePrices() {
            var res = [];
            var incrementer=100;
            for (var i = 200; i < 20001; i+=incrementer){
                res.push(i);
                if(i==2500){
                    incrementer=500;
                }
            }
            return res;
        }

        function generateBeds() {
            var res = [];
            for (var i = 1; i < 16; i+=1){
                res.push(i);
            }
            return res;
        }

        function populateSelectOptions() {
            var prices = generatePrices();
            var beds = generateBeds();
            var $selectMinPrice = $("#minPrice");
            var $selectMaxPrice = $("#maxPrice");
            var $selectMinBeds = $("#minBeds");
            var $selectMaxBeds = $("#maxBeds");
            prices.forEach(function(price) {
                $selectMinPrice.append($('<option></option>').val(price).text('€' + price));
                $selectMaxPrice.append($('<option></option>').val(price).text('€' + price));
            });
            beds.forEach(function(bed) {
                $selectMinBeds.append($('<option></option>').val(bed).text(bed));
                $selectMaxBeds.append($('<option></option>').val(bed).text(bed));
            });
        }
        function submitForm(actionUrl) {
            var form = document.getElementById('searchForm');
            form.action = actionUrl;
            form.submit();
        }
        function submitAutoApplyForm() {
            var formData = new FormData(document.getElementById('searchForm'));

            fetch('/add-auto', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                document.getElementById('responseMessage').innerText = data;
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('responseMessage').innerText = 'An error occurred!';
            });
        }

        $(document).ready(function() {
            populateSelectOptions();
        });

        let slideIndex = 1;
            showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
        }
    </script>
</html>
