<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Homesync</title>
        <link rel="stylesheet" href="css/style.css">
        <!-- <script th:src="@{/js/navbar.js}"></script> -->
        <script src="js/navbar.js"></script>
    </head>
    <body>
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <div class="background">
            
            <img th:src="@{images/background.png}" alt="cat">
        </div>

    </body>
</html>
