<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <script th:src="@{/js/navbar.js}"></script>
        <title>Spring Security Example</title>
    </head>
    <body>

        <div th:replace="~{fragments/navbar :: navbar}"></div>
        
        <div>
            <div class="search-container">
                <div class="form-container">
                    <div class="edit-profile-form">
                        <form id="searchForm" th:action="@{/edit-profile}" th:object="${user}" method="post" enctype="multipart/form-data">
                            <h2>Personal Information</h2>
                            <label>Name:</label> 
                            <input type="text" id="name" th:field="*{name}" name="name">  
                        
                            <label>Email:</label> 
                            <input type="text" id="username" th:field="*{username}" name="username">  
                        
                            <label>Phone Number:</label>
                            <input type="text" id="phoneNumber" th:field="*{phoneNumber}" name="phoneNumber" />
                        
                            <label for="location">Location:</label>
                            <input type="text" id="location" th:field="*{location}" name="location" />
                        
                            <label for="occupation">Occupation:</label>
                            <input type="text" id="occupation" th:field="*{occupation}" name="occupation"/>
                        
                            <label for="placeOfWork">Place of Work:</label>
                            <input type="text" id="placeOfWork" th:field="*{placeOfWork}" name="placeOfWork"/>
                        
                            <label for="description">About me:</label>
                            <textarea id="description" th:field="*{description}" name="description"></textarea>
                        
                            <label>Attach ID (e.g. passport, driver's license):</label>
                            <input type="file" id="idDoc" name="idDoc" accept=".jpg,.jpeg,.png,.pdf" />
                        
                            <label>Attach Work Reference:</label>
                            <input type="file" id="workDoc" name="workDoc" accept=".jpg,.jpeg,.png,.pdf" />
                        
                            <label>Attach Previous Landlord Reference:</label>
                            <input type="file" id="landDoc" name="landDoc" accept=".jpg,.jpeg,.png,.pdf" />
                            
                            <div class="search-buttons">
                                <button type="submit">Save Changes</button>
                            </div>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
