<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Homesync</title>
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <script th:src="@{/js/navbar.js}"></script>
    </head>
    <body>
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <div class="background">
            
            <img th:src="@{images/background.png}" alt="cat">
        </div>

    </body>
</html>
