<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <script th:src="@{/js/navbar.js}"></script>
        <title>Property Listing</title>
    </head>
    <body>

        <div th:replace="~{fragments/navbar :: navbar}"></div>

        <div class="ad-listing-container">
            <h3 class="listing-title" th:text="${listing.title}"></h3>
            <div class="listing-ad-box">
                <div class="image-ad-container" th:if="${listing.images != null and #lists.size(listing.images) > 0}">
                    <div class="main-ad-image">
                        <img th:src="${listing.images[0]}" onclick="openModal();currentSlide(0)" alt="Listing Image" />
                    </div>
                    <div class="side-ad-images" th:if="${#lists.size(listing.images) > 2}">
                        <img th:src="${listing.images[1]}" onclick="openModal();currentSlide(1)" alt="Listing Image" />
                        <img th:src="${listing.images[2]}" onclick="openModal();currentSlide(2)" alt="Listing Image" />
                    </div>
                </div>
                <div id="myModal" class="modal">
                    <span class="close cursor" onclick="closeModal()">&times;</span>
                    <div class="modal-content">
                  
                        <div class="mySlides" th:each="image, stat : ${listing.images}">
                            <div class="numbertext" th:text="${stat.index + 1} + ' / ' + ${#lists.size(listing.images)}"></div>
                            <img th:src="${image}" style="width:100%">
                        </div>
                    
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                </div>
                <div class="ad-details-container">
                    <div class="listing-facts-container">
                        <div class="listing-fact">
                            <h5>Monthly Price</h5>
                            <p th:text="'€' + ${listing.price}"></p>
                        </div>
                        <div class="listing-fact">
                            <h5>Property Type</h5>
                            <p th:text="${listing.propertyType}"></p>
                        </div>
                        <div class="listing-fact">
                            <h5>Number of Beds</h5>
                            <p th:text="${listing.numBedrooms}"></p>
                        </div>
                        <div class="listing-fact">
                            <h5>Furnished?</h5>
                            <p th:text="${listing.furnishing}"></p>
                        </div>
                        <button class="apply-button" onclick="openFormOptions()">Apply to Property</button>
                    </div>

                    <div id="form-options" class="modal">
                        <div class="modal-content">
                            <span class="close" onclick="closeFormOptions()">&times;</span>
                            <h2>Your Profile</h2>
                            <div class="listing-profile-view">
            
                                <div class="listing-user-details">
                                    <label>Name:</label> 
                                    <p th:text="${user.name}" class="profile-value"></p>
                                </div>
                    
                                <div class="listing-user-details">
                                    <label>Profile Picture:</label>
                                    <img th:src="${user.profilePicture}" class="profile-picture"/>
                                </div>
                    
                                <div class="listing-user-details">
                                    <label>Email:</label> 
                                    <p th:text="${user.username}" class="profile-value"></p>
                                </div>
                    
                                <div class="listing-user-details">
                                    <label>Phone Number:</label>
                                    <p th:text="${user.phoneNumber}" class="profile-value"></p>
                                </div>
                    
                                <div class="listing-user-details">
                                    <label>Location:</label>
                                    <p th:text="${user.location}" class="profile-value"></p>
                                </div>
                    
                                <div class="listing-user-details">
                                    <label>Occupation:</label>
                                    <p th:text="${user.occupation}" class="profile-value"></p>
                                </div>
                    
                                <div class="listing-user-details">
                                    <label>Place of Work:</label>
                                    <p th:text="${user.placeOfWork}" class="profile-value"></p>
                                </div>
                    
                                <div class="listing-user-details">
                                    <label>About me:</label>
                                    <p th:text="${user.description}" class="profile-value"></p>
                                </div>
                    
                                <h2>Verification Documents</h2>
                    
                                <!-- <div class="listing-user-details">
                                    <label>Attached ID:</label>
                                    <ul th:if="${idDocumentUrls != null}">
                                        <li th:each="url : ${idDocumentUrls}">
                                            <a th:href="${url}" target="_blank">Download ID Document</a>
                                        </li>
                                    </ul>
                                    <p th:if="${idDocumentUrls == null}">No document uploaded</p>
                                </div>
                    
                                <div class="listing-user-details">
                                    <label>Work Reference:</label>
                                    <ul th:if="${workReferenceUrls != null}">
                                        <li th:each="url : ${workReferenceUrls}">
                                            <a th:href="${url}" target="_blank">Download Work Reference</a>
                                        </li>
                                    </ul>
                                    <p th:if="${workReferenceUrls == null}">No document uploaded</p>
                                </div>
                    
                                <div class="listing-user-details">
                                    <label>Previous Landlord Reference:</label>
                                    <ul th:if="${landlordReferenceUrls != null}">
                                        <li th:each="url : ${landlordReferenceUrls}">
                                            <a th:href="${url}" target="_blank">Download Landlord Reference</a>
                                        </li>
                                    </ul>
                                    <p th:if="${landlordReferenceUrls == null}">No document uploaded</p>
                                </div> -->
                            </div>
                            <button onclick="useProfile()">Use Profile</button>
                            <button onclick="fillApplicationForm()">Fill Application Form</button>
                        </div>
                    </div>
                    
                    <!-- Popup form for application -->
                    <div id="application-form" class="modal">
                        <div class="modal-content form-content">
                            <span class="close" onclick="closeApplicationForm()">&times;</span>
                            <h2>Request to apply</h2>
                            <form>
                                <label class="application-form-label">Full Name</label>
                                <input type="text" class="application-form-input" placeholder="First & last name" required />
                            
                            
                                <label class="application-form-label">Signed in email</label>
                                <p th:text="${user.username}"></p>
                            
                                <h4>Will be sent to</h4>
                                <span class="verified">Verified</span>
                            
                                <p class="consent-text">By choosing to contact a property, you consent to receive calls or text...</p>
                            
                                <button type="submit" class="submit-button">Submit</button>
                            </form>
                        </div>
                    </div>
                    <h4>Summary</h4>
                    <p>
                        <span th:text="${listing.description}"></span>
                    </p>
                    <h4>Features</h4>
                    <div th:each="feature : ${listing.features}">
                        <span th:text="${feature}"></span>
                    </div>
                    <h4>Landlord</h4>
                    <div class="landlord-listing-section">
                        <img th:src="${landlord.profilePicture}"/>
                        <span th:text="${landlord.name}"></span>
                    </div>
                    <div id="map-container">
                        <iframe id="map-frame" width="600" height="450" style="border:0" loading="lazy" allowfullscreen></iframe>
                    </div>
                    <form id="applyForm" th:action="@{/apply}" method="post">
                        <input type="hidden" name="id" th:value="${listing.id}" />
                        <button type="submit" id="applyButton" class="apply-button">Apply to Rent</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <!-- TODO -->
     <!-- DONT DISPLAY API KEY IN FRONTEND -->
     <!-- DONT DISPLAY API KEY IN FRONTEND -->
     <!-- DONT DISPLAY API KEY IN FRONTEND -->
    <script th:inline="javascript">
        /*<![CDATA[*/
            var lat = /*[[${listing.yPoint}]]*/ '0';
            var lng = /*[[${listing.xPoint}]]*/ '0';
            
            var mapFrame = document.getElementById('map-frame');
    
            if(lat !== '0' && lng !== '0'){
                fetch(`/map-url?lat=` + lat + `&lng=` + lng)
                    .then(response => response.text())
                    .then(mapUrl => {
                        mapFrame.src = mapUrl;
                    })
                    .catch(error => console.error('Error fetching map URL:', error));
            } else {
                mapFrame.style.display = 'none';
            }
        /*]]>*/
    </script>    
        
    <script>
        $(document).ready(function() {
            $('#applyForm').on('submit', function(event) {
                event.preventDefault();
                var formData = $(this).serialize();
                
                $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    data: formData,
                    success: function(response) {
                        $('#applyButton').text("Success");
                        $('#applyButton').prop('disabled', true)
                        $('#applyButton').css('background-color', '#cccccc')
                    },
                    badrequest: function(response) {
                        $('#applyButton').text("Failed");
                    },
                    statusCode: {
                        401: function(response) {
                            $('#applyButton').text("Apply to Rent");
                            window.location.href = '/login';
                        }
                    },
                    error: function(xhr, status, error) {
                        $('#applyButton').text('Failed');
                    }
                });
            });
        });

        function openModal() {
            document.getElementById("myModal").style.display = "block";
        }

        function closeModal() {
            document.getElementById("myModal").style.display = "none";
        }

        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n + 1);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex - 1].style.display = "block";
        }
        function openFormOptions() {
            document.getElementById('form-options').style.display = 'flex';
        }

        function closeFormOptions() {
            document.getElementById('form-options').style.display = 'none';
        }

        function useProfile() {
            alert("Using Profile details.");
            closeFormOptions();
        }

        function fillApplicationForm() {
            closeFormOptions();
            document.getElementById('application-form').style.display = 'flex';
        }

        function closeApplicationForm() {
            document.getElementById('application-form').style.display = 'none';
        }
    </script>
</html>
