<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <script th:src="@{/js/navbar.js}"></script>
        <title>Spring Security Example</title>
    </head>
    <body>

        <div th:replace="~{fragments/navbar :: navbar}"></div>

        <div class="ad-listing-container">
            <h3 th:text="${listing.title}"></h3>
            <div class="listing-ad-box">
                <div class="image-ad-container" th:if="${listing.images != null and #lists.size(listing.images) > 0}">
                    <div class="main-ad-image">
                        <img th:src="${listing.images[0]}" alt="Listing Image" />
                    </div>
                    <div class="side-ad-images" th:if="${#lists.size(listing.images) > 2}">
                        <img th:src="${listing.images[1]}" alt="Listing Image" />
                        <img th:src="${listing.images[2]}" alt="Listing Image" />
                    </div>
                </div>
                <div class="ad-details-container">
                    <p class="price" th:text="'€' + ${listing.price} + ' per month'"></p>
                    <p class="summary">
                        <span th:text="${listing.numBedrooms} + ' Bed • ' + ${listing.numBathrooms} + ' Bath • ' + ${listing.propertyType}"></span>
                    </p>
                    <h4>Summary</h4>
                    <p>
                        <span th:text="${listing.description}"></span>
                    </p>
                    <form id="applyForm" th:action="@{/apply}" method="post">
                        <input type="hidden" name="id" th:value="${listing.id}" />
                        <button type="submit" id="applyButton">Apply to Rent</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script>
        $(document).ready(function() {
            $('#applyForm').on('submit', function(event) {
                event.preventDefault();
                var formData = $(this).serialize();
                
                $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    data: formData,
                    success: function(response) {
                        $('#applyButton').text("Success");
                        $('#applyButton').prop('disabled', true)
                        $('#applyButton').css('background-color', '#cccccc')
                    },
                    badrequest: function(response) {
                        $('#applyButton').text("Failed");
                    },
                    statusCode: {
                        401: function(response) {
                            $('#applyButton').text("Apply to Rent");
                            window.location.href = '/login';
                        }
                    },
                    error: function(xhr, status, error) {
                        $('#applyButton').text('Failed');
                    }
                });
            });
        });
    </script>
</html>
