<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Spring Security Example </title>
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <script th:src="@{/js/navbar.js}"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="673815543430-pki6srhlh45lv6oid2q7ui393v95cif7.apps.googleusercontent.com">
    </head>
    <body>
        <div th:replace="~{fragments/navbar :: navbar}"></div>
            <div class="login-background-img">
                <img src="images/sign-in.jpg"/>
                <div class="parent-login-container">
                    <!-- <div th:if="${param.error}">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}">
                        You have been logged out.
                    </div> -->
                    <div class="login-container">
                        <h2 style="padding-left: 60px">Log In</h1>
                        <form th:action="@{/login}" method="post">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" name="username" placeholder="example@email.com" />
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" name="password" placeholder="*********" />
                            </div>
                            <div class="button-container">
                                <div class="form-group-login"><input type="submit" value="Sign In"/></div>
                            </div>
                        </form>
                        <form th:action="@{/register}" method="get">
                            <div class="button-container">
                                <div class="form-group-login"><input type="submit" value="Register"/></div>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    <!-- <div class="g-signin2" data-onsuccess="onSignIn"> -->
    </body>
    <script>
        // function onSignIn(googleUser) {
        // var profile = googleUser.getBasicProfile();
        // console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        // console.log('Name: ' + profile.getName());
        // console.log('Image URL: ' + profile.getImageUrl());
        // console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        // }
    </script>
</html>