<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Spring Security Example </title>
        <link rel="stylesheet" href="css/style.css">
        <!-- <script th:src="@{/js/navbar.js}"></script> -->
        <script src="js/navbar.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="673815543430-pki6srhlh45lv6oid2q7ui393v95cif7.apps.googleusercontent.com">
    </head>
    <body>
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <!-- <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
        <form th:action="@{/register}" method="get">
            <div><input type="submit" value="Register"/></div>
        </form> -->
        <!-- <div class="g-signin2" data-onsuccess="onSignIn"> -->
        
        <!-- </div> -->
        <div class="container">
            <div class="form-container">
                <h1>Sign up & get verified today.</h1>
                <form th:action="@{/login}" method="post">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="name" placeholder="John Carter" />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" placeholder="example@email.com" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" name="confirm_password" placeholder="Confirm Password" />
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" name="phone" placeholder="+..." />
                    </div>
                    <div class="form-group">
                        <label>Date of Birth</label>
                        <input type="date" name="dob" />
                    </div>
                    <div class="form-group">
                        <label>Current Job</label>
                        <input type="text" name="current_job" placeholder="..." />
                    </div>
                    <div class="form-group">
                        <label>Current Company</label>
                        <input type="text" name="current_company" placeholder="..." />
                    </div>
                    <div class="form-group">
                        <label>Attach References (Previous Employer & Landlord)</label>
                        <input type="file" name="references" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" />
                    </div>
                </form>
            </div>
            <div class="image-container">
                <img src="images/sign-up-image.png" alt="Room Image" />
            </div>
        </div>
    </body>
    <script>
        // function onSignIn(googleUser) {
        // var profile = googleUser.getBasicProfile();
        // console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        // console.log('Name: ' + profile.getName());
        // console.log('Image URL: ' + profile.getImageUrl());
        // console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        // }
    </script>
</html>