<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Spring Security Example </title>
        <link rel="stylesheet" href="css/style.css">
        <!-- <script th:src="@{/js/navbar.js}"></script> -->
        <script src="js/navbar.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="673815543430-pki6srhlh45lv6oid2q7ui393v95cif7.apps.googleusercontent.com">
    </head>
    <body>
        <div th:replace="~{fragments/navbar :: navbar}"></div>
            <div class="login-background-img">
                <img src="images/sign-in.jpg"/>
                <div class="parent-login-container">
                    <div class="login-container">
                        <h2 style="padding-left: 42px">Register</h1>
                        <form action="#" th:action="@{/api/user}" method="post">
                            <div class="form-group">
                                <label for="username">Email:</label>
                                <input type="email" id="username" name="username" required />
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" id="password" placeholder="*********" name="password" required />
                            </div>
                            <div class="button-container">
                                <div class="form-group-login"><input type="submit" value="Register"/></div>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </body>
</html>