<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Homesync</title>
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <script th:src="@{/js/navbar.js}"></script>
    </head>
<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <main>
        <section class="listings-container">
            <h1>Your Applications</h1>

            <!-- <div class="create-listing">
                <a href="/listings/create" class="btn create-btn">Create New Listing</a>
            </div> -->

            <table class="listings-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Location</th>
                        <th>Occupation</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}" style="display: none;"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.phoneNumber}"></td>
                        <td th:text="${user.location}"></td>
                        <td th:text="${user.occupation}"></td>
                        <td th:text="${user.username}"></td>
                        <td>
                            <a th:href="@{/profile/{id}(id=${user.id})}" class="btn edit-btn">View Profile</a>
                        </td>
                    </tr>
                </tbody>                
            </table>
        </section>
    </main>

    <footer>
        <p>© 2024 Homesync</p>
    </footer>
</body>
</html>
